#include "mv_setup.h"

JK2MV_ICON ICON "../../res/mv.ico"

1 VERSIONINFO
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x29L
#else
FILEFLAGS 0x28L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004b0"
    BEGIN
      VALUE "Comments", "JK2 MultiVersion Clientside executable"
      VALUE "CompanyName", "jk2mv.org"
      VALUE "FileDescription", "JK2MV Client"
      VALUE "FileVersion", JK2MV_VERSION
      VALUE "InternalName", "JK2MV"
      VALUE "LegalCopyright", "jk2mv.org"
      VALUE "ProductName", "JK2MV"
      VALUE "ProductVersion", JK2MV_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0, 1200
  END
END